@font-face {
	font-family: "Manrope";
	src: url("/fonts/Manrope/Manrope/Manrope-VariableFont_wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf')
      format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  :root {
    --background: 200, 100%, 100%;
    --primary: 200, 100%, 100%;
    --secondary: 203, 100%, 96%;
    --hover: 205, 100%, 62%;
    --disabled: 0, 0%, 91%;
    --stroke: 205, 100%, 49%;
    --input: 0, 0%, 85%;

    --foreground: 0, 1%, 25%;
    --primary-foreground: 0, 1%, 25%;
    --secondary-foreground: 205, 100%, 49%;
    --white-foreground: 0, 0%, 100%;
    --tertiaru-foreground: 0, 0%, 72%;
    --negative-foreground: 358, 87%, 58%;

    --blue50: 205, 100%, 95%;
    --blue100: 205, 100%, 90%;
    --blue200: 205, 100%, 80%;
    --blue300: 205, 100%, 70%;
    --blue400: 205, 100%, 60%;
    --blue500: 205, 100%, 49%;
    --blue600: 205, 100%, 40%;
    --blue700: 205, 100%, 30%;
    --blue800: 205, 100%, 20%;
    --blue900: 205, 100%, 10%;
    --blue950: 205, 100%, 5%;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

  .dark {

  }
}
}

@layer base {
  * {
  }
  body {
    @apply bg-background text-foreground;
  }
}
