:root {
  --background-color: radial-gradient(
    50% 50% at 50% 50%,
    #b7e1ff 0%,
    #e6f5ff 100%
  );
  --course-level-color: #b8b8b8;
  --course-title-color: #1f2937; /* Темно-синий текст */
  --course-description-color: rgba(63, 62, 62, 1);
  --cta-button-bg-color: rgba(0, 146, 252, 1);
  --cta-button-hover-bg-color: rgba(62, 173, 255, 1);
  --course-start-date-color-value: rgba(0, 146, 252, 1);
  --cta-button-text-color: rgba(252, 254, 255, 1);
}

.course-section {
  font-family: 'Manrope', sans-serif;

  display: grid;
  grid-template-columns: 50% 50%;

  background: var(--background-color);
  padding: 80px;
  border-radius: 20px;
  max-width: 1420px;
  margin: 0 auto;
}

.text-container {
  grid-column: 1 / 2;
}

.course-level {
  color: var(--course-level-color);
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}

.course-title,
.course-subtitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
}

.course-title {
  color: var(--cta-button-bg-color);
  margin-bottom: 10px;
}

.course-subtitle {
  color: var(--course-title-color);
  margin-bottom: 40px;
}

.course-description {
  color: var(--course-description-color);
  margin-bottom: 80px;

  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.cta-button {
  background-color: var(--cta-button-bg-color);
  color: var(--cta-button-text-color);
  padding: 14px 60px;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.cta-button:hover {
  background-color: var(--cta-button-hover-bg-color);
}

.course-start-date-text,
.course-start-date-value {
  font-size: 24px;
  line-height: 32px;
}

.course-start-date-text {
  color: var(--course-description-color);

  font-weight: 500;
}

.course-start-date-value {
  color: var(--course-start-date-color-value);
  font-weight: 700;
}

.image-container {
  grid-column: 2 / 3;
}

.course-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
